// this file should display an image from the database and show the relevant information about the image
<doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1
                shrink-to-fit=no">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4


    <title>Painting of the Month</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">